<h3>Edit Listings</h3>
<%= form_for [@user,@listing] do |f| %>
<%= render partial: 'form', locals: {f: f}  %>
<%= f.submit "Submit" %>
<% end %>



<br>
<%= link_to 'Back', user_listing_path(@listing.user) %>
<%= link_to "Delete", user_listing_path(@user, @listing), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
